{% extends "base_logged_in.twig" %}

{% from '_macro/form.html.twig' import dangerZoneDelete, addOrUpdateButton %}

{% set configList = config().activityForm %}
{# @var configList \Runalyze\Bundle\CoreBundle\Component\Configuration\Category\ActivityForm #}

{% set generalConfig = config().general %}
{# @var configList \Runalyze\Bundle\CoreBundle\Component\Configuration\Category\General #}

{% block content %}
    <div class="panel-heading">
        {% if form.vars.data.id is null%}
            <h1>{{ 'Edit'|trans }} {{ metric }} </h1>
        {% endif %}
    </div>

    <div class="panel-content margin-bottom-2x">
        {% include 'flashmessages.html.twig' %}



    </div>



    <div class="panel-content">
        <p class="text margin-top">
            <a class="window" href="{{ url('settings-sports') }}">&laquo; {% trans %}back to list{% endtrans %}</a>
        </p>
    </div>

    {% if form.vars.data.id is not null and form.vars.data.trainings.count() < 1 and generalConfig.getMainSport != form.vars.data.id %}
       {{ dangerZoneDelete(url('sport-delete', {'id': form.vars.data.id}), 'deleteSport') }}
    {% endif %}
{% endblock %}
