{% extends "base_logged_in.twig" %}

{% block content %}
<div class="panel-heading">
    <h1>{% trans %}Services{% endtrans %}</h1>
</div>

    <p>{% trans %}Connect different services to...{% endtrans %}</p>

<div class="panel-heading panel-sub-heading">
    <h1>{% trans %}Connected services{% endtrans %}</h1>
</div>

    {% if connectedServices|length == 0 %}
        No connected services
    {% else %}
        {% for service in connectedServices %}
            Provider: {{ service.provider }}
            ID: {{ service.id }}

            {% for setting in service.settings %}
            <a class="window" href="{{ url('settings-services-client-settings', {'id': setting.id}) }}">{% trans %}Edit sync settings{% endtrans %}</a>
            {% endfor %}

        {% endfor %}
    {% endif %}

<div class="panel-heading panel-sub-heading">
    <h1>{% trans %}Available services{% endtrans %}</h1>
</div>

    {% set availablesServies = 0 %}
    {% if tomTomMySports %}
        {% set availablesServies = availableServices + 1 %}
        <p class="">
        <a href="#" onclick="tomtom=window.open('{{ url('connect_tomtom_mysports') }}','oauthWindow',width='300',height='300'); return false;">
            <strong class="block"><img src="http://tomtomstg.prod.acquia-sites.com/sites/default/files/sports_logo_pl.jpg" width="300"></strong>
            <small class="block">
                {% trans %}Connect your TomTom MySports account and get your activities synced to RUNALYZE{% endtrans %}
            </small>
        </a>
    </p>
    {% endif %}

    {% if availablesServies == 0 %}
        <p class="info">{% trans %}Sorry, there are no services available you could connect with{% endtrans %}</p>
    {% endif %}

{% endblock %}